build-mini-app:
  interruptible: true
  stage: build
  image: docker:latest
  only:
    - master
    - merge_requests
  services:
    - name: docker:dind
      alias: docker
      command:
        [
          "--host=tcp://0.0.0.0:2375",
          "--tls=false",
          "--insecure-registry=gitlab-registry.git.svc.cluster.local:5000",
        ]
  variables:
    CWD: $CI_PROJECT_DIR/apps/web
    IMAGE_NAME: $CI_PROJECT_PATH/mini-app:$CI_COMMIT_SHA
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" gitlab-registry.git.svc.cluster.local:5000
    - docker build -t gitlab-registry.git.svc.cluster.local:5000/$IMAGE_NAME -f apps/web/Dockerfile .
    - docker push gitlab-registry.git.svc.cluster.local:5000/$IMAGE_NAME

deploy-mini-app:
  stage: deploy
  image: alpine/kubectl
  needs: [build-mini-app]
  when: manual
  script:
    - ./regcred.sh
    - $CWD/deploy.sh
  # rules:
  #   - if: $CI_COMMIT_TAG
  #     when: manual
  #   - if: $CI_COMMIT_BRANCH || $CI_PIPELINE_SOURCE == "merge_request_event"
  #     when: on_success
  variables:
    CWD: $CI_PROJECT_DIR/apps/web
    IMAGE_NAME: $CI_PROJECT_PATH/mini-app:$CI_COMMIT_SHA
