stages:
  - test
  # - build
  # - deploy
  # - migrate

variables:
  CI: "true"
  REGISTRY: registry.booulder.xyz
  IMAGE: $REGISTRY/$CI_PROJECT_PATH
  DOCKER_HOST: "tcp://localhost:2375"
  DOCKER_TLS_CERTDIR: ""

# Main job
test:
  image: node:20
  interruptible: true
  only:
    - master
    - merge_requests
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest-9 --activate
    - pnpm config set store-dir .pnpm-store
  script:
    - pnpm install --frozen-lockfile

    # This enables task distribution via Nx Cloud
    # Run this command as early as possible, before dependencies are installed
    # Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
    # Uncomment this line to enable task distribution
    # - pnpm dlx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="e2e-ci"

    - pnpm exec playwright install --with-deps

    # - pnpm exec nx-cloud record -- echo Hello World
    - pnpm exec nx run-many -t lint typecheck test build e2e
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
