stages:
  - test
  - build
  - deploy
  # - migrate

include:
  - local: "apps/api/.gitlab-ci.yml"

variables:
  CI: true
  NX_SKIP_NX_CACHE: true
  NX_NO_CLOUD: true
  IMAGE: $REGISTRY/$CI_PROJECT_PATH
  REGISTRY: registry.booulder.xyz
  DOCKER_HOST: "tcp://docker:2375"
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

test:
  image: node:18.17.1
  interruptible: true
  stage: test
  only:
    - master
    - merge_requests
  before_script:
    - corepack enable
    - corepack prepare pnpm@latest-10 --activate
    - pnpm config set store-dir .pnpm-store
  script:
    - pnpm install --frozen-lockfile

    # This enables task distribution via Nx Cloud
    # Run this command as early as possible, before dependencies are installed
    # Learn more at https://nx.dev/ci/reference/nx-cloud-cli#npx-nxcloud-startcirun
    # Uncomment this line to enable task distribution
    # - pnpm dlx nx start-ci-run --distribute-on="3 linux-medium-js" --stop-agents-after="e2e-ci"

    # - pnpm exec playwright install --with-deps

    # - pnpm exec nx-cloud record -- echo Hello World
    - pnpm exec nx run-many -t lint typecheck --no-cloud --skip-nx-cache
    # test build e2e
  cache:
    key:
      files:
        - pnpm-lock.yaml
    paths:
      - .pnpm-store
