.image-input_wrapper {
  display: block;
  position: relative;

  min-height: 128px;
  height: 128px;

  width: 100%;
  border: 1px solid var(--mat-sys-primary);
  border-radius: 8px;

  overflow: hidden;

  &:hover {
    .image-input_hover_wrapper {
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
    }
  }
}

.image-input_hover_wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;

  transition: transform 0.2s ease-in, opacity 0.4s ease-in-out, filter 0.2s ease-out;

  &.uploaded {
    opacity: 0;
    filter: blur(4px);
  }
}

.image-input_hover_wrapper::before {
  content: " ";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  background-color: var(--mat-sys-outline-variant);
  opacity: 0.6;
}

.image_input {
  display: none;
}

.image-input_preview {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.processing_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
