::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}

.admin-table_wrapper {
  width: 100vw;
  height: max-content;
  overflow-x: scroll;
  padding: 12px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  width: 100%;
  display: inline-block;
  height: fit-content;
}

// .skeleton {
//   @keyframes pulse {
//     0% {
//       opacity: 1;
//     }
//
//     50% {
//       opacity: 0.5;
//     }
//
//     100% {
//       opacity: 1;
//     }
//   }
//
//   // background-color: var(--mat-sys-surface-dim) !important;
//   // animation: pulse 1.5s ease-in-out infinite;
// }
