.admin-navbar_wrapper {
  height: var(--navbar-height);
  background-color: var(--card);

  padding: 0 20px 0 20px;

  bottom: 0;
  left: 0;
  width: 100dvw;

  display: flex;
  position: fixed;
  justify-items: center;
  align-items: center;
  gap: 16px;
  overflow-x: scroll;
}

.admin-navbar_item {
  display: flex;
  height: 40px;
  width: 40px;
  // position: relative;
  // justify-items: center;
  justify-content: center;
  align-items: center;

  &.active {
    .icon svg {
      fill: var(--destructive);
      color: var(--destructive);
      background-color: var(--destructive);
    }
  }
}
