.not-found_container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.not-found_code {
  font-size: 86px;
  line-height: 3.25rem;
}

.not-found_message,
.not-found_code {
  text-align: center;
  color: var(--mat-sys-primary);
}
