.not-found_container {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found_code {
  font-size: 86px;
  line-height: 3.25rem;
  margin: 0;
  // min-height: 4rem;
  // font-size: 8rem;
  // font-weight: bold;
  // color: var(--color-primary);
}
