build-api:
  interruptible: true
  stage: build
  image: docker:latest
  needs: [typecheck]
  only:
    - master
    - merge_requests
  variables:
    IMAGE_NAME: $CI_PROJECT_PATH/api:$CI_COMMIT_SHA
    CWD: $CI_PROJECT_DIR/apps/api
  services:
    - name: docker:dind
      alias: docker
      command:
        [
          "--host=tcp://0.0.0.0:2375",
          "--tls=false",
          "--insecure-registry=gitlab-registry.git.svc.cluster.local:5000",
        ]
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" gitlab-registry.git.svc.cluster.local:5000
    - docker build -t gitlab-registry.git.svc.cluster.local:5000/$IMAGE_NAME -f apps/api/Dockerfile .
    - docker push gitlab-registry.git.svc.cluster.local:5000/$IMAGE_NAME

deploy-api:
  stage: deploy
  image: alpine/kubectl
  needs: [build-api]
  when: manual
  before_script:
    - apk add --no-cache envsubst
  script:
    - $CWD/secrets.sh
    - $CWD/deploy.sh
  variables:
    IMAGE_NAME: $CI_PROJECT_PATH/api:$CI_COMMIT_SHA
    CWD: $CI_PROJECT_DIR/apps/api
  # rules:
  #   - if: $CI_COMMIT_BRANCH || $CI_PIPELINE_SOURCE == "merge_request_event"
  #     when: on_success
