build:
  interruptible: true
  stage: build
  image: docker:latest
  only:
    - master
    - merge_requests
  services:
    - name: docker:dind
      command:
        [
          "--host=tcp://0.0.0.0:2375",
          "--tls=false",
          "--insecure-registry=gitlab-registry.git.svc.cluster.local:5000",
        ]
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
    - docker build -t gitlab-registry.git.svc.cluster.local:5000/$CI_PROJECT_PATH:$CI_COMMIT_SHA -f apps/api/Dockerfile .
    - docker push gitlab-registry.git.svc.cluster.local:5000/$CI_PROJECT_PATH:$CI_COMMIT_SHA
